:root {
  /* Headline */
  --font-headline-lg-size: 28px;
  --font-headline-lg-line: 36px;
  --font-headline-lg-letter: -0.3px;

  --font-headline-md-size: 24px;
  --font-headline-md-line: 32px;
  --font-headline-md-letter: -0.2px;

  /* Title */
  --font-title-lg-size: 20px;
  --font-title-lg-line: 28px;
  --font-title-lg-letter: -0.1px;

  --font-title-md-size: 18px;
  --font-title-md-line: 26px;
  --font-title-md-letter: -0.1px;

  /* Body */
  --font-body-lg-size: 16px;
  --font-body-lg-line: 24px;
  --font-body-lg-letter: 0;

  --font-body-md-size: 14px;
  --font-body-md-line: 20px;
  --font-body-md-letter: 0;

  /* Detail */
  --font-detail-sm-size: 12px;
  --font-detail-sm-line: 16px;
  --font-detail-sm-letter: 0;

  /* weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}